.admission-application-container{
    position: relative;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 3em;
}

.sub-admission-container{
    position: relative;
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 1em;
    
}

.admission-header{
    background-color: #e6e6e6;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;

}

.admission-header label{
    font-size: 1.6em;
    color: #8C999F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    box-shadow: 0 5px 16px 0 rgba(68, 88, 144, 0.14);
}
.admission-content{
    margin: 1em 0 0 0;
    background-color: #F3F8FA;
    box-shadow: 0 5px 16px 0 rgba(68, 88, 144, 0.14);
    border: solid 1px #F3F8FA ;
    height: auto;
    width: 100%;
}
.admission-content-header{
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
   

    /* background-color: aqua; */
}


.admission-content-header > .label-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.admission-content-header > .label-container label{
    margin-left: .7em;

}

.admission-content-header > form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5em;
}

.admission-content-header > form > input{
    height: 2.5em;
    width: 20em;
    border: solid 1px #95A5A6;
    padding-left: 1em;
}

.admission-content-header > form > button{
    height: 2.5em;
    width: 10em;
    font-size: 1.2e;
    letter-spacing: 1px;
    color: white;
    background-color: #95A5A6;
}


.admission-content-header label{
    font-size: 1.5em;
    font-weight: 600;
    color: #8C999F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

.admission-content-body{
    height: auto;
    width: 100%;

    padding: 0 1em 15em 1em;
}
/* table design */
.admission-content-body table{
    position: relative;
	width: 100%;
	border-collapse: collapse;
 
}

.admission-content-body table thead tr{
	background-color: #95A5A6;
 	font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
 	letter-spacing: 1px;
	color: white;
	font-weight: 600;

}

.admission-content-body table thead th{
	width: 200px;
	height: 2.8em;;
}



.admission-content-body table tbody tr {
	position: relative;
	text-align: center;
	color: #2e2e1f;
	cursor: pointer;
	height: 30px;
	border-bottom: solid .5px black;
}

.admission-content-body tbody tr:hover{
	transform: scale(1.001);
	text-align: center;
	box-shadow: 2px 4px 2px rgba(30, 30, 30, .5), 2px 2px 4px rgba(0, 0, 0, .5);

}

.admission-content-body tbody tr td{
	padding: 1em 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.admission-content-body tr tbody tr:nth-child(even)
{
	background-color: #c2c2a3;
}

.admission-content-body tbody > tr > td > a{
    margin: 0 .4em;
}
.action-icons{
    height: 2em;
 
}

.cross{
    height: 1.4em;
    margin: 0 0 .3em 0;
}

/* FOR MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    align-items: center;
    justify-content: center;
    z-index: 1; /* Sit on top */
    
}

.modal-container{
    height: 50%;
    width: 40%;
    background-color: #F3F8FA;
    display: flex;
    flex-direction: column;

}

.modal-container > form{
    height: 100%;
    width: 100%;
   
}


.header-course{
    height: 15%;
    width: 100%;
  
    display: flex;
    flex-direction: row;
}

.header-course label{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5AA5D1;
    color: white;
}

.header-course a{
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 1em;
    background-color: #5AA5D1;
}

.close-course{
    height: 2em;
}

/* btn */
.admission-header > label >a{
    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #0879BB;
    border-radius: 5px;
}

/*  */
.body-course{
    height: 85%;
    width: 100%;
 
    


}

.body-course > form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.body-course > form > input{
    padding-left: 1em;
    height: 2.5em;
    border-radius: 5px;
}

.body-course > form > textarea{
    border-radius: 5px;
    padding: 1em;
}

.body-course > form > button{
    width: 15em;
    height: 3em;
    margin-left: 12em;
    background-color: #0879BB;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.act-icons{
    height: 1.8em;
    margin-left: 1em;
}