.about-container{
    height: 35em;
    width: 100%;
    background-color: #F3F8F9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3em;
}
.about-content-container, .about-image{
    height: 27em;
    width: 45%;
    display: flex;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 0 5px 16px 0 rgba(68, 88, 144, 0.14);
    border: 1px solid #fff;
    background: #fff;

}

.about-content-container {
    display: flex;
    flex-direction: column;
}


/* content */
.about-title{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

.about-title label{
    font-size: 2.5em;
    margin-left: 1em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 37, 37);
}


.about-content{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-content label{
    margin-left: 1em;
    color: grey;
    font-weight: 600;

}
.about-content p{
    margin-left: 1em;
}


/* image */

.about-image {
    padding: .5em;
    mix-blend-mode: darken;
}

.img-bestlink{
    height: 100%;
    width: 100%;
}


